<div class="edit-bookmark-wrapper">
  <p *ngIf="!bookmark">BookMark not Found</p>

  <ng-container *ngIf="bookmark">
    <h2 class="is-bold">{{ bookmark?.name }}</h2>

    <form #form="ngForm" ngNativeValidate (ngSubmit)="onFormSubmit(form)">
      <div class="form-field">
        <label for="" class="form-label">Name</label>
        <input
          type="text"
          [ngModel]="bookmark?.name"
          #titleField="ngModel"
          name="name"
          class="textbox"
          placeholder="e.g. Wikipedia"
          minlength="3"
          required
        />
      </div>

      <div class="form-field">
        <label for="" class="form-label">URL</label>
        <input
          type="url"
          [ngModel]="bookmark?.url"
          #titleField="ngModel"
          name="url"
          class="textbox"
          placeholder="e.g. www.wikipedia.com"
          minlength="3"
          required
        />
      </div>

      <div class="btns-container">
        <a routerLink="../../" class="btn">Cancel</a>
        <button type="button" class="btn" (click)="delete(bookmark.id)">
          Delete
        </button>
        <button type="submit" class="btn align-end">Save</button>
      </div>
    </form>
  </ng-container>
</div>
