.todo-item {
  display: flex;
  align-items: center;
  position: relative;

  background-color: rgba($color: black, $alpha: 0.5);
  border-radius: 20px;
  margin-bottom: 15px;
  padding: 8px 12px;

  transition: all 0.2s;

  cursor: pointer;
}

.todo-item-text {
  color: rgba($color: white, $alpha: 0.8);
  font-size: 12px;
}

.check-box {
  display: flex;

  padding: 4px;
  border: 2px solid rgba($color: white, $alpha: 0.35);
  border-radius: 50%;

  margin-right: 15px;

  i {
    font-size: 18px;
    opacity: 0;
  }
}

.todo-item:hover {
  .todo-item-text {
    color: rgba($color: white, $alpha: 0.95);
  }

  .check-box {
    border-color: transparent;
    background-color: rgba($color: white, $alpha: 0.35);
  }
}

.todo-item.completed {
  .todo-item-text {
    color: rgba($color: white, $alpha: 0.5);
  }

  .check-box {
    background-color: rgb(9, 218, 89);
    border-color: transparent;

    i {
      opacity: 1;
    }
  }
}

.todo-item-text .check-box {
  transition: 0.1s;
}

.todo-item-actions {
  position: absolute;
  top: 5px;
  right: 5px;

  background: rgba(72, 72, 82, 0.85);

  box-shadow: 0 4px 12px rgba($color: black, $alpha: 0.2);
  border-radius: 20px;
  backdrop-filter: blur(2px);

  transition: 0.2s;

  visibility: hidden;
  opacity: 0;
  transform: scale(0.8);
}

.todo-item-action-btn {
  background: transparent;
  padding: 10px;
  border-radius: inherit;

  &:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 14px;
  }

  &:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-right: 14px;
  }

  &:hover {
    background: rgb(50, 50, 53);
  }
}

.todo-item-action-btn i {
  font-size: 20px;
}

.todo-item:hover .todo-item-actions {
  visibility: visible;
  opacity: 1;

  transform: scale(1);
  transition-delay: 0.3s;
}
