<div class="add-note-wrapper container has-blurred-white-bg">
  <h2 class="is-bold">New Note</h2>

  <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
    <div class="form-field">
      <input
        type="text"
        ngModel
        #titleField="ngModel"
        name="title"
        class="textbox"
        placeholder="Enter note title..."
        minlength="3"
        required
      />
      <ng-container *ngIf="showValidationError && titleField.invalid">
        <p *ngIf="titleField.errors">Please enter a note title</p>
      </ng-container>
    </div>
    <div class="form-field">
      <textarea
        class="textarea"
        ngModel
        name="content"
        placeholder="Enter note content..."
      ></textarea>
    </div>

    <div class="btns-container">
      <a routerLink="../" class="btn">Cancel</a>
      <button type="submit" class="btn align-end">Create Note</button>
    </div>
  </form>
</div>
