.bookmarks-wrapper {
  height: 100%;
  overflow-y: auto;
}

.bookmarks-title-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.add-btn i {
  margin-right: 8px;
}

.manage-btn i {
  margin-right: 8px;
}
